.loginsignup {
    width: 100%;
    height: 115vh;
    background-color: hsl(216, 100%, 80%);
    padding-top: 100px;
}

.loginsignup-container {
    width: 500px;
    margin: auto;
    padding: 40px 60px;
    height: 600px;
    background: white;
    border: 2px solid #3498db;
}

.loginsignup-container h1 {
    margin: 20px 0px;
}

.login-signup-fields {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}

.login-signup-fields input {
    font-size: 18px;
    color: #5c5c5c;
    border: 1px solid #dcdfe6;
    height: 52px;
    width: 100%;
    outline: none;
    padding-left: 20px;
    cursor: pointer;
}

.loginsignup-container button {
    height: 72px;
    width: 100%;
    color: white;
    background: red;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 24px;
    margin: 30px 10px auto;
}

.already {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 19px;
    font-weight: 500;
}

.already span {
    color: red;
    font-weight: 600;
}

.loginsingup-agree {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #5c5c5c;
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
}
@media(max-width:1280){
    .loginsignup{
        padding-top: 50px;
    }
    .loginsignup-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .loginsignup-container h1{
        margin: 10px 0px;
    }
    .login-signup-fields{
        gap: 20px;
        margin-top: 20px;
    }
    .login-signup-fields input{
        height: 65px;
        width: 93%;
    }
    .loginsignup-container button{
         width: 100%;
    
    }
    .loginsignup-login{
        font-size: 16px;
    }
    .loginsingup-agree{
        font-size: 14px;
        gap: 10px;
    }
}

@media (max-width: 800px) {
    .loginsignup-container {
        padding: 20px 30px;
    }
    .loginsignup-container h1{
        font-size: 24px;
    }
    .login-signup-fields {
        margin-top: 20px;
    }
    .loginsignup-container button {
        height: 50px;
        font-size: 16px;
    }
    .login-signup-fields input{
        height: 50px
    }
}
@media (max-width: 500px) {
    .loginsignup-container {
        padding: 10px;
        max-width: 300px;
        height: auto;
    }
    .loginsignup-container h1 {
        font-size: 16px;
        margin: 8px 0;
    }
    .login-signup-fields {
        margin-top: 10px;
        gap: 10px;
    }
    .loginsignup-container button {
        height: 30px;
        font-size: 12px;
        margin: 5px 0 0 0;
    }
    .login-signup-fields input {
        height: 30px;
        width: 60%;
    }
    .loginsignup-login,
    .loginsingup-agree {
        font-size: 12px;
        gap: 2px;
    }
}


