* {
    margin: 0;
}

body {
    overflow-x: hidden;
}

.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span {
    font-weight: 600;  
}

.shopcategory-products {
    margin: 20px 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 products in one line */
    gap: 1.5rem; /* Adjusted gap for flexibility */
}

.shopcategory-products .item {
    width: 100%;
}


.shopcategory-products .item {
    width: 100%;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    margin: 5% auto; /* Adjusted margin for flexibility */
    font-weight: 500;
    font-size: 18px;
    color: #787878;
    height: 69px;
    background: #ededed;
    align-items: center;
    width: 90%;
    max-width: 233px; /* Added max-width for responsiveness */
    border-radius: 75px;
    margin-top: 200px;
}
.shopcategory-products {
    margin: 20px 5% 20px 5%; /* Adjusted margin for flexibility */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5%;
}

/* Media Queries */

@media (max-width: 1280px) {
    .shopcategory-banner {
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory-indexSort {
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort {
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexSort p {
        font-size: 12px;
    }
    .shopcategory-products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory-products .item {
        margin: auto;
    }
}

@media (max-width: 1024px) {
    .shopcategory-indexSort {
        margin: 0 8%;
    }
}

@media (max-width: 800px) {
    .shopcategory-indexSort {
        margin: 0 5%;
    }
}

@media (max-width: 500px) {
    .shopcategory-products {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
