.descriptionbox{
    margin: 120px 170px;
}
.descriptionbox-navigator{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    height: 70;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    font-weight: 600;
    width: 172px;
    border: 1px solid #d0d0d0;
}
.descriptionbox-nav-box.fade{
    background: #FBFBFB;
    color: #555;
}
.descriptionbox-description{
    display: flex;
    gap: 25px;
    flex-direction: column;
    padding-bottom: 70px;
    padding: 48px;
    border: 1px solid #d0d0d0;
}