/* Breadcrumbs.css */
.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    margin: 60px 170px;
    font-weight: 600;
    font-size: 16px;
    color: #5e5e5e;
  }
  
  @media (max-width: 1280px) {
    .breadcrumbs {
      margin: 30px 50px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 1024px) {
    .breadcrumbs {
      margin: 30px 30px;
      font-size: 13px;
    }
  }
  
  @media (max-width: 880px) {
    .breadcrumbs {
      margin: 30px 10px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 800px) {
    .breadcrumbs {
      margin: 20px 10px; /* Adjust the margin for 800px */
      font-size: 12px;
    }
  }
  
  @media (max-width: 500px) {
    .breadcrumbs {
      margin: 10px 5px; /* Adjust the margin for 500px */
      font-size: 10px;
    }
  }
  