.offers{
    width: 65%;
    height: 93vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    margin-top:  100px;
    background: linear-gradient(180deg, #a6c0fe 0%, #9ac3ff 50%, #ffffff 100%);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.offers-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 282px;
    height: 60px;
    border-radius: 35px;
    background: #FF4141;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 500;
    font-size: 22px;
    color: white;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
.offers-right img{
    
    height: 600px;
}
@media (max-width: 1024px){
    .offers {
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .offers-left h1{
        font-size: 40px;
    }
    .offers-left p{
            font-size: 18px;
    }
    .offers-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
    .offers-right img{
        width: 300px;
    }
}
@media (max-width: 1280px){
    .offers {
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;
    }
    .offers-right img{
        width: 300px;
        height: 40vh;
    }
    .offers-left h1{
        font-size: 40px;
    }
    .offers-left p{
        font-size: 18px;
    }
    .offers-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
    .offers-right{
        padding-top: 30px;
    }
    
    
}
@media (max-width: 500px){
    .offers {
        margin-bottom: 50px; 
        height: 27vh;
    }
    .offers-right img{
        width: 100px;
        height: 25vh;
    }
    .offers-left h1{
        font-size: 16px;
    }
    .offers-left p{
        font-size: 10px;
    }
    .offers-left button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }
}
@media (max-width: 80px){
    .offers {
        margin-bottom: 60px; 
    }
    .offers-right img{
        width: 180px;
    }
    .offers-left h1{
        font-size: 22px;
    }
    .offers-left p{
        font-size: 13px;
    }
    .offers-left button{
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
}